# Compiled class files
*.class

# Maven target directory
/target/

# Logs
*.log
*.log.*

# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws

# Eclipse specific files
.project
.classpath
.settings/
.apt_generated/
.factorypath

# VS Code specific files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak
*.swo

# Spring Boot specific files
.env
*.env
*.properties
*.yml
*.yaml

# Maven specific files
.mvn/
!mvnw
!mvnw.cmd

# Java specific files
*.war
*.jar

# Logs and runtime files
hs_err_pid*
